# estas variables definen las credenciales y database a crear con DOCKER
DB_CONTAINER_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_PORT=

# NO CAMBIAR, esta variable se define con los valores de arriba
DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$DB_CONTAINER_NAME:$DB_PORT/$POSTGRES_DB

# IPs importantes
IP_ADDRESS=     # Esta es la IP a la cual esta conectada la raspi
LOCAL_ADDRESS=127.0.0.1 # Esta es la direccion del localhost en caso de ser necesario

# Puertos utilizados
API_PORT=9900   # Puerto necesario para ingresar a la interfaz de la API
FRONT_PORT=8500 # Puerto necesario para ingresar a las interfaces (Dashboard, Projection y Remote controller)
URL_PORT=8000
